<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User ID</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let favoritePost of favoritePosts">
        <th scope="row">{{favoritePost.post.id}}</th>
        <td>{{favoritePost.post.userId}}</td>
        <td>{{favoritePost.post.title}}</td>
        <td>{{favoritePost.post.body}}</td>
      </tr>
    </tbody>
  </table>